html{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-color: #2E2E2E;
    color: white;
    
}
body{
  margin: 0px !important;
  padding: 0;
}

.container{
  margin: 0;
  margin-left: 80px;

}

.nav-container{
  overflow: hidden;
  position: fixed;
  height: 100vh;
}
.nav-container svg{
  color: #fff;
  font-size: 1.8rem;
}

a{
  text-decoration: none;
}
.nav-bar{
  position: fixed;
  left: 0;
  background: #2E2E2E;
  min-height: 100vh;
  z-index: 200;
  display: flex;
  overflow: hidden;
}

.grid-container{
  display: flex;
  justify-content: center;
}

.page-title{
  color: white;
  font-size: 22px;
  border-left:0.3px solid grey;
  border-bottom: 0.3px solid grey;
  border-right:0.3px solid grey;
  padding: 0.7rem;
  font-weight:  bold;
}

.post-shout{
  color: white;
  width: 100%;
}

.shout-form{
  color: white !important;
  border-bottom: none!important;
  
}

input {
  color: "white"
}
input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white!important;
  opacity: 1; /* Firefox */
}

.image{
  margin-top: 20;
    margin-left: 20;
    width: 30px;
    height: 30px;
    object-fit: cover;
    max-width: 100%;
    border-radius: 50%;
}
